<!DOCTYPE html>

<html>
    <head>
        <%- include('../../layout/head') %>
    </head>
    <body>
        <h1>Show Book After Being Saved</h1>
        <p><a href="/">Home</a></p>
        <ul>
            <li>
                <section>
                    <p> <%=bookSaved.title %> </p>
                    <p> <%=bookSaved.author %> </p>
                    <p> <%=bookSaved.isbn %> </p>
                    <img src="<%=bookSaved.image_url%>" alt="book image">
                    <p> <%=bookSaved.description %> </p>
                    <p> <%=bookSaved.bookshelf %> </p>
                </section>

            </li>
        </ul>

    </body>
</html>

