<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/base.css" />
        <link rel="stylesheet" type="text/css" href="/styles/layout.css" />
        <link rel="stylesheet" type="text/css" href="/styles/modules.css" />
        <link rel="stylesheet" type="text/css" href="/styles/icons.css" />
    </head>
    <body>
        <h1>Book Google Result</h1>
        <p><a href="/">Home</a></p>
        <ul>
            <% bookList.forEach( book => { %>
                <li><%=book.title %></li>
                <li><%=book.author %></li>
                <li><img src="<%=book.img_url %>" alt="book image"></li>
                <li><%=book.description %></li>
                <li><%=book.isbn %></li>
                <li><%=book.bookshelf %></li>
                <button class="save"><%=book.save %></button>
            <% }) %>
        </ul>
    </body>
</html>