<!DOCTYPE html>

<html>
    <head>
        <%- include('../../layout/head') %>
    </head>
    <body>
        <h1>Book Google Result</h1>
        <p><a href="/">Home</a></p>
        <ul>
            <li>
                <section>
                <% bookList.forEach( book => { %>
                    <p><%=book.title %></p>
                    <p><%=book.author %></p>
                    <img src="<%=book.img_url %>" alt="book image">
                    <p><%=book.description %></p>
                    <p><%=book.isbn %></p>
                    <p><%=book.bookshelf %></p>
                    <button class="show-detail-button"><%= book.showDetails %></button>
                    <form action="/update" method="post">
                        <input type="text" name="search" value="<%= book.title %>" required>
                        <input type="text" name="search" value="<%= book.author %>" required>
                        <input type="text" name="search" value="<%= book.isbn %>" required>
                        <input type="text" name="search" value="<%= book.description %>" required>
                        <input type="text" name="search" placeholder="Bookshelf Name" required>                       
                        <button type="submit">Save to My Bookshelf</button>
                    </form>
                <% }) %>
                 </section>

            </li>
        </ul>
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    </body>
</html>