<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
</head>
<body>
  
  <main>
    <nav>
      <h1>Best Books!</h1>
    </nav>
    <div class="search-by">
      <h2>Search By Title Or Author</h2>
    </div>

    <p><a href="/searches/new">Search A New Book</a></p>


    <!-- Results From Database  -->
    <h1>Database Results</h1>
    
    <ul>
        <% bookList.forEach( book => { %>
            <li><%=book.title %></li>
            <li><%=book.author %></li>
            <img src="<%=book.image_url %>" alt="book image">
            <li><%=book.description %></li>
            <li><%=book.isbn %></li>

            <form class="*" action="/update" method="post">  
              <input type="text" name="title" value="<%= book.title %>" required>
              <input type="text" name="author" value="<%= book.author %>" required>
              <input type="text" name="isbn" value="<%= book.isbn %>" required>
              <input type="text" name="img_url" value="<%= book.img_url %>" required>
              <input type="text" name="description" value="<%= book.description %>" required>
              <input type="text" name="bookshelf" placeholder="Bookshelf Name" required>                       
              <button type="submit">Save to My Bookshelf</button>
              <button type="submit">Delete This Book</button>
          </form>

        <% }) %>
    </ul>




  </form>
  </main>
</body>

</html>