<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/styles/reset.css" />
  <link rel="stylesheet" type="text/css" href="/styles/base.css" />
  <link rel="stylesheet" type="text/css" href="/styles/layout.css" />
  <link rel="stylesheet" type="text/css" href="/styles/modules.css" />
  <link rel="stylesheet" type="text/css" href="/styles/icons.css" />

</head>
<body>
  
  <main>
    <nav>
      <h1>Best Books!</h1>
    </nav>
    <div class="search-by">
      <h2>Search By Title Or Author</h2>
    </div>
    <form action="/searches" method="post">
      <input type="text" name="search" placeholder="Enter a title or author" required>
      <fielset>
        <label for="title">
          <span>Title</span>
          <input type="radio" name="search" value="title" required>
        </label>
      </fielset>
      
        
      <fielset>
        <label for="author">
            <span>Author</span>
            <input type="radio" name="search" value="author" required>
        </label>
      </fielset>

      
      <button type="submit">Search Google API</button>
    </form>



    <!-- Results From Database  -->
    <h1>Database Results</h1>
    
    <ul>
        <% bookList.forEach( book => { %>
            <li><%=book.title %></li>
            <li><%=book.author %></li>
            <li><img src="<%=book.img_url %>" alt="book image"></li>
            <li><%=book.description %></li>
            <li><%=book.isbn %></li>
        <% }) %>
    </ul>

  









  </form>
  </main>
</body>

</html>